body {
  display: block;
}

.headerNav {
  font-family: Arial;
}

.NURIWEB {
  font-family: fantasy;
}

header ul li .nav-link_text {
  color: red;
}

main .costom_color_card {
  color: aliceblue;
  background-color: $nuriweb_color;
}

main .cardAside_card {
  width: 200px;
  height: 80px;
  border: solid 5px rgb(255, 255, 255);
}

main .cardAside_card:hover {
  border: solid 5px $nuriweb_color;
}
