body {
  display: block;
}

header * {
}

.headerNav {
  font-family: Arial;
}

.NURIWEB {
  font-family: fantasy;
}

.card_container {
  display: grid;
  justify-items: stretch;
}

header ul li .nav-link_text {
  color: red;
}
