.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  display: block;
}

header {
  .NURIWEB {
    font-family: fantasy;
  }
}

.mouseHoverEffect {
  transition: all 0.2s ease-in-out;
}
.mouseHoverEffect:hover {
  transform: scale(1.2);
}

.nuriwebNav {
  font-family: Arial;
}

a div:hover {
  text-decoration: underline;
}

main {
  .main_main_aside {
    background-color: #f8f8f8;
    section {
      span {
        width: 25%;
        padding: 0.5rem 0.5rem;
        font-size: 12px;
        margin: 0;
      }
    }
    a {
      font-family: Dotum;
      cursor: pointer;
    }
  }
  .costom_color_card {
    color: aliceblue;
    background-color: $nuriweb_color;
  }

  .main_card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_022.jpg");
    background-size: cover;
    background-position: center;
    width: 70%;
    transition: all 0.3s ease-in-out;
    p {
      text-align: center;
      background-color: $card_title_color;
      color: $nav-link-color;
      font-family: Dotum;
    }
  }

  .cardAside_card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    border: solid 5px rgb(255, 255, 255);
    cursor: pointer;

    .card_body {
      background-color: $card_title_color;
    }

    .card-text {
      font-family: sans-serif;
      text-align: center;
      color: $nav-link-color;
    }
    &:nth-child(1) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_007.jpg");
      background-size: cover;
    }
    &:nth-child(2) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_008.jpg");
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_009.jpg");
      background-size: cover;
    }
    &:nth-child(4) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_010.jpg");
      background-size: cover;
    }
  }

  .cardAside_card2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    border: solid 5px rgb(255, 255, 255);
    cursor: pointer;

    .card_body {
      background-color: $card_title_color;
    }

    .card-text {
      text-align: center;
      color: $nav-link-color;
    }
    &:nth-child(1) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_011.jpg");
      background-size: cover;
    }
    &:nth-child(2) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_012.jpg");
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_013.jpg");
      background-size: cover;
    }
    &:nth-child(4) {
      background-image: url("https://raw.githubusercontent.com/DragooCho/TIL/main/image/image_014.jpg");
      background-size: cover;
    }
  }

  .cardAside_card,
  .cardAside_card2 {
    transition: all 0.3s ease-in-out;
  }
  .cardAside_card:hover,
  .cardAside_card2:hover {
    border: solid 5px $nuriweb_color;
  }

  .card_body_body {
    .card_title {
      position: relative;
      bottom: 0.9rem;
      font-size: x-small;
      background-color: rgba(141, 141, 141, 0.493);
    }
    .card-img-top,
    .card-text {
      cursor: pointer;
    }
  }

  .login_btn {
    color: white;
    padding: 5px 64px;

    .NURIWEB {
      font-family: fantasy;
    }
    .logIn_text {
      font-family: Dotum;
      font-weight: 700;
      margin-left: 1vh;
    }
  }
  .button_wrapper {
    button {
      width: 8vh;
    }
  }
  .bbs_link ol li {
    margin-bottom: 5px;
  }
  .gamenews_section {
    a {
      border: none;
    }
  }
}

footer {
  width: 100%;
  font-family: Dotum;
  container {
    a {
      color: black;
    }
    li:hover {
      text-decoration: underline;
    }
  }
  nav {
    .container-fluid {
      border-top: 1px solid $nuriweb_border_top_color;
      .nav-item .textLight {
        color: $nuriweb_text_light_color;
        text-decoration: underline;
      }
    }
  }
  .footer_container_section {
    .title {
      font-weight: 800;
      margin-bottom: 2vh;
      padding: 2vh;
      border-bottom: 1px solid $nuriweb_border_bottom_color;
      border-top: 1px solid $nuriweb_border_top_color;
    }

    div h7 {
      font-weight: 800;
      font-size: 2vh;
    }
    ul {
      margin-top: 2vh;
    }
  }
}
