$utilities: () !default;
$utilities: map-merge(
  (
    "custom-font-size": (
      property: font-size,
      class: cfs,
      values: (
        1: 0.3rem,
        2: 0.5rem,
        3: 0.7rem,
        4: 0.9rem,
        5: 1.1rem,
        6: 1.3rem,
        7: 1.5rem,
        8: 1.7rem,
        9: 1.9rem,
      ),
    ),
    "custom-width": (
      property: width,
      class: cw,
      values: (
        25: 25%,
        50: 50%,
        60: 60%,
        94: 94%,
        100: 100%,
        auto: auto,
      ),
    ),
    "custom-margin": (
      responsive: true,
      property: margin,
      class: cm,
      values: (
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        auto: auto,
      ),
    ),
    "custom-margin-x": (
      responsive: true,
      property: margin-right margin-left,
      class: cmx,
      values: (
        25: 25%,
        50: 50%,
        60: 856px,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "custom-margin-y": (
      responsive: true,
      property: margin-top margin-bottom,
      class: cmy,
      values: (
        25: 25%,
        50: 50%,
        60: 856px,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "custom-margin-top": (
      responsive: true,
      property: margin-top,
      class: cmt,
      values: (
        25: 25%,
        50: 50%,
        60: 856px,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "custom-margin-end": (
      responsive: true,
      property: margin-right,
      class: cme,
      values: (
        0: 0rem,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        auto: auto,
      ),
    ),
    "custom-margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: cmb,
      values: (
        25: 25%,
        50: 50%,
        60: 856px,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "custom-margin-start": (
      responsive: true,
      property: margin-left,
      class: cms,
      values: (
        25: 25%,
        50: 50%,
        60: 856px,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  ),
  $utilities
);
