$utilities: () !default;
$utilities: map-merge(
  (
    "custom-font-size": (
      property: font-size,
      class: cfs,
      values: (
        1: 0.3rem,
        2: 0.5rem,
        3: 0.7rem,
        4: 12px,
        5: 1rem,
        6: 1.5rem,
        7: 2rem,
        8: 2.5rem,
        9: 3rem,
      ),
    ),
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        60: 856px,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  ),
  $utilities
);
