$primary: #1a70dc;
$dark: #444444;
$nav-link-color: #fff;
$nav-link-hover-color: #6edff6;

$card_title_color: #86868698;

$nuriweb_color: #1a70dc;

$nuriweb_border_bottom_color: #e7e7e7;
$nuriweb_border_top_color: #e7e7e7;
$nuriweb_border_side_color: #e7e7e7;
$nuriweb_text_light_color: #a0aec0;

// $nav-link_news-color: #8a4e5b;
